[app]
app_debug = true;
app_trace = false;
DEFAULT_TIMEZONE = Asia/Shanghai

[database]
hostname = 127.0.0.1
database = your_database
username = your_username
password = your_password
hostport = 3306

[LANG]
default_lang = zh-cn
