{extend name='view/common/container'}
{block name="content"}
<div style="margin:0 15px 15px 15px;">
	<el-card shadow="never" style="min-height:650px;">
		<div style="display: flex; justify-content: space-between; border-bottom:1px solid #ebeef5; padding-bottom:15px; font-size:14px;" class="clearfix">
			<span v-text="app_title_name"></span>
			<span style="margin-right: 2px">
				<el-button v-for="(item, i) in topGroupButtons" :key="i"  :disabled="$data[item.disabled]" :type="item.color" size="mini"
						   :icon="item.icon" @click="fn(item.clickname,item.param)">
					<span v-text="item.name"></span>
				</el-button>
			</span>
<!--			<el-button size="small" @click="backup" type="primary" icon="el-icon-back" style="float:right; margin-left:10px;">返回菜单</el-button>-->
<!--			<el-button size="small" @click="backupAction" type="primary" icon="el-icon-back" style="float:right">前往字段</el-button>-->
		</div>
		<el-row style="margin-bottom:12px; margin-top:11px;">
			<el-col :span="21">
				<span v-for="(item, i) in filterGroupButtons" :key="i" style="margin-right: 2px">
					<el-button :disabled="$data[item.disabled]" :type="item.color" size="mini"
							   :icon="item.icon" @click="fn(item.clickname,item.param)">
						<span v-text="item.name"></span>
					</el-button>
				</span>
				<el-select size="small" style="margin-left:5px; width:150px;" class="select" multiple collapse-tags v-model="select_actions" placeholder="选择方法">
					<el-option v-for="(item2,i2) in default_actions" :key="i2" :label="item2.name" :value="item2.type"></el-option>
				</el-select>
				<span v-for="item in filterGroupButtonsQ" :key="item.clickname" style="margin-right: 2px">
					<el-button :type="item.color" size="mini"
							   :icon="item.icon" @click="fn(item.clickname,item.param)">
						<span v-text="item.name"></span>
					</el-button>
				</span>
<!--				<el-button type="primary" size="mini" style="margin-left:5px;" icon="el-icon-check" @click="quckCreateAction">快速创建</el-button>-->
<!--				<el-button type="success" size="mini" icon="el-icon-plus" @click="dialog.addDialogStatus = true">创建</el-button>-->
<!--				<el-button type="danger" size="mini"  icon="el-icon-delete" :disabled="multiple" @click="deleteAction(ids)">删除</el-button>-->
<!--				<el-button type="info" size="mini"  icon="el-icon-edit-outline"  @click="create(1)">生成代码</el-button>-->
			</el-col>
			<el-col :span="3" style="text-align:right">
				<table-tool :expand_status="false" @refesh_list="loadlist" ></table-tool>
			</el-col>
		</el-row>

		<el-row>
			<el-table row-key="id" :header-cell-style="{ background: '#eef1f6', color: '#606266' }" :row-class-name="rowClass" v-loading="loading" ref="multipleTable" border class="eltable" :data="list" @selection-change="selection"  @row-click="handleRowClick" style="width: 100%"  >
				<el-table-column align="center" type="selection" width="42"></el-table-column>
				<el-table-column property="name" label="操作名称">
					<template slot-scope="scope">
						<el-input size="mini" placeholder="操作名称" @blur.stop="update(scope.row,'name')" v-model="scope.row.name"></el-input>
					</template>
				</el-table-column>
				<el-table-column property="action_name" label="方法名称">
					<template slot-scope="scope">
						<el-input size="mini" placeholder="方法名称" @blur.stop="update(scope.row,'action_name')" v-model="scope.row.action_name"></el-input>
					</template>
				</el-table-column>
				<el-table-column property="type" width="150" label="方法类型">
					<template slot-scope="scope">
						<el-select v-model="scope.row.type" size="mini" @change="update(scope.row,'type')" clearable filterable placeholder="请选择">
							<el-option v-for="item in action" :key="item.name" :label="item.name" :value="item.type"></el-option>
						</el-select>
					</template>
				</el-table-column>
				<el-table-column align="center" property="vue_create_status" width="90" label="vue生成">
					<template slot-scope="scope">
						<el-switch @change="update(scope.row,'vue_create_status')" :active-value="1" :inactive-value="0" v-model="scope.row.vue_create_status"></el-switch>
					</template>
				</el-table-column>
				<el-table-column align="center" property="group_button_status" width="90" label="按钮组显示">
					<template slot-scope="scope">
						<el-switch @change="update(scope.row,'group_button_status')" :active-value="1" :inactive-value="0" v-model="scope.row.group_button_status"></el-switch>
					</template>
				</el-table-column>
				<el-table-column align="center" property="list_button_status" label="按钮列表显示位置">
					<template slot-scope="scope">
						<el-select v-model="scope.row.list_button_status" @change="update(scope.row,'list_button_status')" clearable size="mini" filterable placeholder="请选择">
							<el-option key="1" label="不显示" :value="0"></el-option>
							<el-option key="2" label="显示列表" :value="1"></el-option>
							<el-option key="3" label="显示列表更多" :value="2"></el-option>
						</el-select>
					</template>
				</el-table-column>
				<el-table-column property="button_color" width="120" label="按钮背景色">
					<template slot-scope="scope">
						<el-select v-model="scope.row.button_color" @change="update(scope.row,'button_color')" clearable size="mini" filterable placeholder="请选择">
							<el-option key="1" style="background:#409eff" label="primary" value="primary"></el-option>
							<el-option key="2" style="background:#67c23a" label="success" value="success"></el-option>
							<el-option key="3" style="background:#909399" label="info" value="info"></el-option>
							<el-option key="4" style="background:#e6a23c" label="warning" value="warning"></el-option>
							<el-option key="5" style="background:#f56c6c" label="danger" value="danger"></el-option>
							<!-- 以下是精心调制的协调扩展色 -->
							<el-option key="6" style="background:#5ed84f" label="fresh-green" value="fresh-green"></el-option>
							<el-option key="7" style="background:#353640" label="deep-space" value="deep-space"></el-option>
							<el-option key="8" style="background:#6b6f80" label="cool-gray" value="cool-gray"></el-option>
							<el-option key="9" style="background:#6967ce" label="violet" value="violet"></el-option>
							<el-option key="10" style="background:#28afd0" label="aqua" value="aqua"></el-option>
							<el-option key="11" style="background:#fdb901" label="golden" value="golden"></el-option>
							<el-option key="12" style="background:#fa626b" label="coral" value="coral"></el-option>
							<el-option key="13" style="background:#babfc7" label="silver" value="silver"></el-option>
							<!-- 基于原始色系的新调和色 -->
							<el-option key="14" style="background:#53a8ff" label="sky-blue" value="sky-blue"></el-option>
							<el-option key="15" style="background:#85ce61" label="leaf-green" value="leaf-green"></el-option>
							<el-option key="16" style="background:#a6a9ad" label="mist-gray" value="mist-gray"></el-option>
							<el-option key="17" style="background:#eebe77" label="honey" value="honey"></el-option>
							<el-option key="18" style="background:#f78989" label="blossom" value="blossom"></el-option>
							<!-- 专业补充色 -->
							<el-option key="19" style="background:#3d4b5c" label="steel" value="steel"></el-option>
							<el-option key="20" style="background:#7e57c2" label="amethyst" value="amethyst"></el-option>
						</el-select>
					</template>
				</el-table-column>
				<el-table-column property="button_color" width="120" label="页面打开方式">
					<template slot-scope="scope">
						<el-select v-model="scope.row.dialog_type" @change="update(scope.row,'dialog_type')" clearable size="mini" filterable placeholder="请选择">
							<el-option key="1" label="弹窗打开" value="1"></el-option>
							<el-option key="2" label="抽屉打开" value="2"></el-option>
							<el-option key="3" label="页面切换" value="3"></el-option>
						</el-select>
					</template>
				</el-table-column>
				<el-table-column align="center" property="dialog_size" label="配置信息">
					<template slot-scope="scope">
						<el-input v-if="scope.row.type == 7" style="width:80px" size="mini" placeholder="状态值" @blur.stop="update(scope.row,'status_val')" v-model="scope.row.status_val"></el-input>
						<el-input v-else style="width:80px" size="mini" placeholder="弹窗大小" @blur.stop="update(scope.row,'dialog_size')" v-model="scope.row.dialog_size"></el-input>
					</template>
				</el-table-column>
				<el-table-column align="center" property="sortid" width="80" label="排序">
					<template slot-scope="scope">
						<el-input style="width:52px" @blur.stop="update(scope.row,'sortid')"  size="mini" placeholder="排序" v-model="scope.row.sortid"></el-input>
					</template>
				</el-table-column>
				<!--<el-table-column :fixed="false" label="操作" width="135">-->
				<!--	<template slot-scope="scope">-->
				<!--		<el-button size="mini" style="padding:7px 5px" type="primary" icon="el-icon-edit-outline" @click="editor(scope.row)">修改</el-button>-->
				<!--		<el-button size="mini" style="padding:7px 5px" slot="reference" icon="el-icon-delete" @click="deleteAction(scope.row)" type="danger">删除</el-button>-->
				<!--	</template>-->
				<!--</el-table-column>-->


				<el-table-column :fixed="false" label="操作" width="230">
					<template slot-scope="scope">
						<el-button size="mini" style="padding:7px 5px" type="primary" icon="el-icon-edit-outline" @click="editorFun(scope.row)">修改</el-button>
						<el-button size="mini" style="padding:7px 5px" type="danger" icon="el-icon-delete" @click="deleteAction(scope.row)">删除</el-button>

						<el-button
								size="mini"
								style="padding:7px 5px"
								:type="scope.row.remark ? 'primary' : 'info'"
								:plain="!scope.row.remark"
								icon="el-icon-document"
								@click="showRemarkDialog(scope.row)">
							{{ scope.row.remark ? '查看备注' : '添加备注' }}
						</el-button>


					</template>
				</el-table-column>



			</el-table>
			<Page :total="page_data.total" :page.sync="page_data.page" :limit.sync="page_data.limit" @pagination="loadlist" />
		</el-row>
	</el-card>

</div>

<admin-add :show.sync="dialog.addDialogStatus" menuid="{$menu_id}" :action="action" size="small" @refesh_list="loadlist"></admin-add>

<admin-update :show.sync="dialog.updateDialogStatus" menu_id="{$menu_id}" :info="info" :action="action" size="small" @refesh_list="loadlist"></admin-update>
<remark            :show="remarkDialog.visible"
				   :row="remarkDialog.currentRow"
				   @update:show="remarkDialog.visible = $event"
				   @saved="loadlist">

</remark>
{/block}

{block name="script"}
<script src="__PUBLIC__/components/sys/action.js?v=<?php echo rand(100,999)?>"></script>
<script src="__PUBLIC__/components/sys/remark.js?v=<?php echo rand(100,999)?>"></script>
<script src="__PUBLIC__/assets/js/Sortable.min.js"></script>
<script src="__PUBLIC__/assets/js/app.js"></script>




<!--编辑备注开始-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/codemirror.min.css">
<!-- 基础库 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/codemirror.min.js"></script>
<!-- 必需的语言模式 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/mode/javascript/javascript.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/mode/htmlmixed/htmlmixed.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/mode/xml/xml.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/mode/clike/clike.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/mode/php/php.min.js"></script>
<!-- 增强功能 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/addon/edit/matchbrackets.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/addon/edit/closebrackets.min.js"></script>
<!--编辑备注结束-->





<script>
	new Vue({
		el: '#app',
		data() {
			return {
				dialog: {
					addDialogStatus: false,
					updateDialogStatus: false,
				},
				app_name: '',
				menu_title: '',
				app_title_name: '',
				ids: [],
				single: true,
				multiple: true,
				list: [],
				action: [],
				apiaction: [],
				info: {},
				select_actions: [],
				default_actions: [],
				loading: false,
				page_data: {
					limit: 100,
					page: 1,
					total: 50,
				},

				// 备注对话框相关数据
				versions: [], // 版本记录数组
				remarkDialog: {
					visible: false,
					description: '', // 文字描述字段
					content: '',
					currentRow: null,
					language: 'PHP'
				},
				editor: null, // 用于存储编辑器实例
				languageOptions: [
					{value: 'php', label: 'PHP'},  // 这里改为小写php
					{value: 'text', label: '纯文本'},
					{value: 'javascript', label: 'JavaScript'},
					{value: 'html', label: 'HTML'},
					{value: 'x-vue', label: 'Vue'}
				],
				button_group_q:[{
					name:'快速创建',
					color:'primary',
					access:'',
					icon:'el-icon-check',
					disabled:'',
					clickname:'quckCreateAction',
					param:'',
					showGroup:'1',
					showList:''
				}],
				button_group:[{
					name:'创建',
					color:'success',
					access:'',
					icon:'el-icon-plus',
					disabled:'',
					clickname:'add',
					param:'',
					showGroup:'1',
					showList:''
				}, {
					name:'删除',
					color:'danger',
					access:'',
					icon:'el-icon-delete',
					disabled:'multiple',
					clickname:'deleteAction',
					param:'ids',
					showGroup:'1',
					showList:''
				}, {
					name:'生成代码',
					color:'info',
					access:'',
					icon:'el-icon-edit-outline',
					disabled:'',
					clickname:'create',
					param:'1',
					showGroup:'1',
					showList:''
				}],
				top_button_group:[{
					name:'前往字段',
					color:'primary',
					access:'',
					icon:'el-icon-back',
					disabled:'',
					clickname:'backupAction',
					param:'',
					showGroup:'1',
					showList:''
				},{
					name:'返回菜单',
					color:'primary',
					access:'',
					icon:'el-icon-back',
					disabled:'',
					clickname:'backup',
					param:'',
					showGroup:'1',
					showList:''
				}],
			};
		},
		computed: {
			filterGroupButtons() {
				return this.button_group;
			},
			filterGroupButtonsQ() {
				return this.button_group_q;
			},
			topGroupButtons() {
				return this.top_button_group;
			},
		},
		methods: {

			add() {
				this.dialog.addDialogStatus = true
			},

			formatTime(timestamp) {
				if (!timestamp) return '未知时间';
				// 如果是时间戳数字
				if (/^\d+$/.test(timestamp)) {
					return new Date(parseInt(timestamp) * 1000).toLocaleString();
				}
				// 如果是日期字符串
				return timestamp;
			},

			addBtEditorStyles() {
				// 添加宝塔编辑器特有的样式
				const style = document.createElement('style');
				style.type = 'text/css';
				style.innerHTML = `
                .CodeMirror {
                    font-family: 'Consolas', 'Courier New', monospace;
                    font-size: 13px;
                    line-height: 1.5;
                }
                .CodeMirror-scroll {
                    padding: 5px 0;
                }
                .CodeMirror-lines {
                    padding: 0 5px;
                }
            `;
				document.head.appendChild(style);
			},





			editorFun(row) {
				let id = row.id ? row.id : this.ids.join(',')
				axios.post(base_url+'/Sys.Base/getActionInfo',{id:id,menu_id:'{$menu_id}'}).then(res => {
					if(res.data.status == 200){
						this.dialog.updateDialogStatus = true
						this.info = res.data.data
					}else{
						this.$message.error('获取信息失败!')
					}
				})
			},
			selection(selection) {
				this.ids = selection.map(item => item.id)
				this.single = selection.length != 1
				this.multiple = !selection.length
			},
			handleRowClick(row, rowIndex) {
				this.$refs.multipleTable.toggleRowSelection(row)
			},
			rowClass({ row, rowIndex }) {
				for(let i=0; i<this.ids.length; i++) {
					if (row.id === this.ids[i]) {
						return 'rowLight'
					}
				}
			},
			backup() {
				location.href = base_url+'/Sys.Base/menu?appid={$appid}'
			},
			backupAction() {
				location.href = base_url+'/Sys.Base/fieldList?menu_id=<?=$menu_id?>&appid=<?=$appid?>'
			},
			deleteAction(row) {
				this.$confirm('确定删除吗?', '提示', {
					confirmButtonText: '确定',
					cancelButtonText: '取消',
					type: 'warning'
				}).then(() => {
					let ids = row.id ? row.id : this.ids
					axios.post(base_url+'/Sys.Base/deleteAction',{id:ids,menu_id:'{$menu_id}'}).then(res => {
						if(res.data.status == 200){
							this.$message({message: '操作成功', type: 'success'})
							this.loadlist()
						}else{
							this.$message.error(res.data.msg)
						}
					})
				}).catch(() => {})
			},
			update(row, field) {
				axios.post(base_url+'/Sys.Base/updateActionExt',{id:row.id,[field]:row[field]}).then(res => {
					if(res.data.status !== 200){
						this.$message.error(res.data.msg)
					}else{
						this.$message({message: '操作成功', type: 'success'})
					}
				})
			},
			quckCreateAction() {
				if(this.select_actions.length == 0){
					this.$message.error('请选择创建方法!')
				}else{
					this.$confirm('确定创建吗?', '提示', {
						confirmButtonText: '确定',
						cancelButtonText: '取消',
						type: 'warning'
					}).then(() => {
						axios.post(base_url+'/Sys.Base/quckCreateAction',{actions:this.select_actions,menu_id:'{$menu_id}'}).then(res => {
							if(res.data.status == 200){
								this.loadlist()
								this.select_actions = []
								this.$message({message: res.data.exits_status?'操作成功,部分方法已存在 无法创建!':'操作成功!', type: 'success'})
							}else{
								this.$message.error(res.data.msg)
							}
						})
					}).catch(() => {})
				}
			},
			create(type){
				this.$confirm('确定生成吗?', '提示', {
					confirmButtonText: '确定',
					cancelButtonText: '取消',
					type: 'warning'
				}).then(() => {
					axios.post(base_url+'/Sys.Base/create',{menu_id:'{$menu_id}',type}).then(res => {
						if(res.data.status == 200){
							this.$message({message: '操作成功', type: 'success'})
						}else{
							this.$message.error(res.data.msg)
						}
					})
				}).catch(() => {})
			},
			loadlist() {
				let param = {
					limit: this.page_data.limit,
					page: this.page_data.page,
					menu_id: '{$menu_id}',
					app_id: '{$appid}'
				}
				this.loading = true
				axios.post(base_url+'/Sys.Base/actionList',param).then(res => {
					this.app_name = res.data.app_name
					this.menu_title = res.data.menu_title
					this.list = res.data.data.data
					this.action = res.data.actionList.filter(item=>item.show_admin)
					this.apiaction = res.data.actionList.filter(item=>item.show_api)
					this.default_actions = res.data.actionList.filter(item=>item.default_create)
					this.page_data.total = res.data.data.total
					this.loading = false
					this.app_title_name = this.app_name + '-' + this.menu_title + ' 方法列表 (支持拖动排序)'
				})
			},

			// 备注相关方法
			showRemarkDialog(row) {
				this.remarkDialog = {
					visible: true,
					currentRow: row,
					content: row.remark || '',
					description: row.remark_desc || '',
					language: 'php',
					menu_id: row.menu_id || '{$menu_id}' // 确保获取到menu_id
				};

				// this.loadVersions(row.id);
				//
				// this.$nextTick(() => {
				// 	this.initCodeEditor();
				// });
			},

			initCodeEditor() {
				if (this.editor) {
					this.editor.setValue(this.remarkDialog.content);
					return;
				}

				this.editor = CodeMirror.fromTextArea(
						document.getElementById('remark-editor'),
						{
							mode: 'application/x-httpd-php',
							theme: 'bt-default',
							lineNumbers: true,
							lineWrapping: true,
							indentUnit: 4,
							tabSize: 4,
							matchBrackets: true,
							autoCloseBrackets: true,
							extraKeys: {"Ctrl-Space": "autocomplete"},
							highlightSelectionMatches: {showToken: /\w/}
						}
				);
				this.editor.setValue(this.remarkDialog.content);

				// 添加PHP特定高亮规则
				this.editor.on('change', (editor) => {
					editor.execCommand('highlightSelectionMatches');
				});

				// 强制刷新高亮
				setTimeout(() => {
					this.editor.refresh();
				}, 100);
			},

			saveRemark() {
				const content = this.editor.getValue();
				axios.post(base_url+'/Sys.Base/updateActionExt', {
					id: this.remarkDialog.currentRow.id,
					remark: content,
					remark_desc: this.remarkDialog.description,
					menu_id: this.remarkDialog.menu_id // 新增的menu_id
				}).then(res => {
					if(res.data.status === 200) {
						this.$message.success('备注保存成功');
						this.remarkDialog.visible = false;
						this.loadlist();
					} else {
						this.$message.error(res.data.msg);
					}
				}).catch(error => {
					this.$message.error('保存失败: ' + error.message);
				});
			},

			changeEditorLanguage(lang) {
				this.remarkDialog.language = lang;
				if (!this.editor) return;

				let mode;
				switch(lang) {
					case 'text':
						mode = 'text';
						break;
					case 'html':
						mode = 'htmlmixed';
						break;
					case 'x-vue':
						mode = {
							name: 'htmlmixed',
							vue: true,
							tags: {
								'vue-component': ['<', '>']
							}
						};
						break;
					case 'javascript':
						mode = 'javascript';
						break;
					case 'php':
					default:
						mode = 'application/x-httpd-php';
				}
				this.editor.setOption('mode', mode);
			},

			loadVersions(actionId) {
				console.log('Loading versions for action:', actionId); // 调试
				axios.post(base_url + '/Sys.Base/getRemarkVersions', {
					actionId: actionId,
					menu_id: this.remarkDialog.menu_id // 新增的menu_id
				}).then(res => {
					console.log('Versions data:', res.data); // 调试
					this.versions = res.data.data;
				}).catch(error => {
					console.error('Error loading versions:', error); // 调试
					this.$message.error('加载版本记录失败');
				});
			},

			loadVersionContent(version) {
				this.editor.setValue(version.content);
				this.remarkDialog.description = version.description;
			},

			fn(method,data){
				if(data){
					this[method](data)
				}else{
					this[method](this.ids)
				}
			},
		},

		mounted() {
			this.loadlist();

			// 预加载编辑器资源
			this.$nextTick(() => {
				// 监听对话框显示状态变化
				// this.$watch('remarkDialog.visible', (newVal) => {
				// 	if (newVal) {
				// 		this.initCodeEditor();
				// 	}
				// });
			});
		},

		beforeDestroy() {
			if (this.editor) {
				this.editor.toTextArea();
				this.editor = null;
			}
		}
	})
</script>

<style>
	/* 全屏对话框样式 */
	/* 强制全屏对话框样式 - 最高优先级 */
	.el-dialog.is-fullscreen {
		width: 100vw !important;
		height: 100vh !important;
		max-width: 100vw !important;
		max-height: 100vh !important;
		margin: 0 !important;
		top: 0 !important;
		left: 0 !important;
		border-radius: 0 !important;
	}

	/* 对话框内容区域 - 使用更具体的选择器 */
	.el-dialog.is-fullscreen > .el-dialog__body {
		height: calc(100vh - 54px) !important;  /* 减去标题栏高度 */
		padding: 0 !important;
		margin-top: 54px !important;  /* 标题栏高度 */
		overflow: auto;
		background: #1e1e1e;
		display: flex;
		flex-direction: column;
	}









	.fullscreen-remark-dialog {
		width: 100vw !important;
		height: 100vh !important;
		max-width: 100vw !important;
		top: 0 !important;
		left: 0 !important;
		margin: 0 !important;
		padding: 0 !important;
		overflow: hidden;
	}
	.fullscreen-remark-dialog .el-dialog {
		width: 100% !important;
		height: 100% !important;
		margin: 0 !important;
		max-width: none !important;
		border-radius: 0 !important;
		background: #1e1e1e;
	}

	.fullscreen-remark-dialog .el-dialog__header {
		padding: 15px 20px;
		border-bottom: 1px solid #333;
		background: #252526;
		position: fixed;
		width: 100%;
		z-index: 10;
	}

	.fullscreen-remark-dialog .el-dialog__headerbtn {
		top: 15px;
		right: 20px;
		font-size: 20px;
	}

	.fullscreen-remark-dialog .el-dialog__title {
		color: #e0e0e0;
		font-size: 16px;
	}

	.fullscreen-remark-dialog .el-dialog__body {
		padding: 0 !important;
		height: 100vh !important;
		overflow: hidden;
		background: #1e1e1e;
		padding-top: 54px; /* 标题栏高度 */
	}

	.fullscreen-dialog-container {
		display: flex;
		height: 100%;
	}

	.left-margin {
		width: 255px;
		background: #252526;
		height: 100%;
		border-right: 1px solid #1a1a1a;
	}

	.content-wrapper {
		flex: 1;
		height: 100%;
		overflow: auto;
		padding: 15px;
	}

	/* 宝塔风格编辑器样式 */
	.editor-container {
		display: flex;
		height: calc(100% - 90px); /* 减去底部按钮高度 */
	}

	.version-list {
		width: 220px;
		padding-right: 15px;
		border-right: 1px solid #333;
		overflow: hidden;
		background: #252526;
		border-radius: 4px;
		margin-right: 15px;
	}

	.version-list .section-title {
		color: #e0e0e0;
		font-size: 14px;
		padding: 28px 30px;
		border-bottom: 1px solid #333;
		background: #2d2d2d;
		margin: -15px -15px 10px -15px;
	}

	.content-area {
		flex: 1;
		display: flex;
		flex-direction: column;
	}

	.code-editor {
		flex: 1;
		margin-bottom: 15px;
		position: relative;
		border-radius: 4px;
		overflow: hidden;
		border: 1px solid #333;
		background: #1e1e1e;
	}

	.code-editor .editor-header {
		padding: 10px 10px 10px 10px;
		background: #2d2d2d;
		border-bottom: 1px solid #333;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.description-area {
		height: 180px;
		background: #252526;
		border-radius: 4px;
		overflow: hidden;
		border: 1px solid #333;
	}

	.description-area .section-title {
		color: #e0e0e0;
		font-size: 14px;
		padding: 10px 15px;
		border-bottom: 1px solid #333;
		background: #2d2d2d;
	}

	/* 宝塔风格代码编辑器 */
	.CodeMirror {
		height: 89% !important;
		font-family: 'Consolas', 'Monaco', 'Courier New', monospace;
		font-size: 13px;
		line-height: 1.5;
		background: #1e1e1e;
		color: #d4d4d4;
	}

	.CodeMirror-gutters {
		background: #252526 !important;
		border-right: 1px solid #333 !important;
	}

	.CodeMirror-linenumber {
		color: #858585 !important;
		padding: 0 5px !important;
	}

	/*.CodeMirror-lines {*/
	/*    padding: 5px 0 !important;*/
	/*}*/

	.CodeMirror-selected {
		background: #264f78 !important;
	}

	/* PHP语法高亮 - 宝塔风格 */
	.cm-s-default .cm-comment { color: #6a9955; } /* 注释 */
	.cm-s-default .cm-variable { color: #9cdcfe; } /* 变量 */
	.cm-s-default .cm-string { color: #ce9178; } /* 字符串 */
	.cm-s-default .cm-number { color: #b5cea8; } /* 数字 */
	.cm-s-default .cm-keyword { color: #569cd6; } /* 关键字 */
	.cm-s-default .cm-def { color: #dcdcaa; } /* 定义 */
	.cm-s-default .cm-operator { color: #d4d4d4; } /* 操作符 */
	.cm-s-default .cm-builtin { color: #4ec9b0; } /* 内置函数 */
	.cm-s-default .cm-tag { color: #569cd6; } /* HTML标签 */
	.cm-s-default .cm-attribute { color: #9cdcfe; } /* HTML属性 */
	.cm-s-default .cm-property { color: #9cdcfe; } /* 对象属性 */

	/* 时间线样式 - 宝塔风格 */
	.el-timeline {
		padding-left: 10px;
	}

	.el-timeline-item {
		cursor: pointer;
		padding: 8px 10px;
		margin-bottom: 5px;
		border-radius: 4px;
		transition: all 0.3s;
		color: #fff　!important;
	}

	.el-timeline-item:hover {
		background: #333;
	}

	.el-timeline-item__timestamp {
		color: #999;
		font-size: 12px;
		margin-bottom: 5px;
	}

	.el-timeline-item__content {
		color: #7f7f7f;
	}

	/* 底部按钮 */
	.dialog-footer {
		padding: 15px 0;
		text-align: right;
		border-top: 0px solid #333;
		margin-top: 15px;
	}


	/* 响应式调整 */
	@media (max-width: 1200px) {
		.version-list {
			width: 180px;
		}
	}

	@media (max-width: 768px) {
		.left-margin {
			width: 180px;
		}

		.version-list {
			width: 150px;
		}

		.editor-container {
			flex-direction: column;
		}

		.version-list {
			width: 100%;
			margin-right: 0;
			margin-bottom: 15px;
			border-right: none;
			border-bottom: 1px solid #333;
		}
	}




	/* 修改光标颜色 */
	.CodeMirror-cursor {
		border-left: 1px solid #ffffff !important;
	}

	/* 修改功能描述文本域为暗色调 */
	.description-area .el-textarea__inner {
		background-color: #252526;
		color: #d4d4d4;
		border: 1px solid #333;
		height: 100%;
	}

	/* 修改文本域placeholder颜色 */
	.description-area .el-textarea__inner::placeholder {
		color: #666;
	}

	/* 修改文本域聚焦时的边框颜色 */
	.description-area .el-textarea__inner:focus {
		border-color: #409eff;
	}
	/* 文本域滚动条样式 */
	.description-area .el-textarea__inner::-webkit-scrollbar {
		width: 6px;
	}

	.description-area .el-textarea__inner::-webkit-scrollbar-thumb {
		background: #4a4a4a;
		border-radius: 3px;
	}

	.description-area .el-textarea__inner::-webkit-scrollbar-track {
		background: #2d2d2d;
	}
	.CodeMirror-scroll {

		margin-bottom:-120px !important;
	}
</style>



<style>
	/* 宝塔编辑器主题 - 统一使用.cm-s-bt-default前缀 */
	.cm-s-bt-default .cm-comment { color: #6A9955 !important; font-style: italic !important; }
	.cm-s-bt-default .cm-keyword { color: #569CD6 !important; font-weight: bold !important; }
	.cm-s-bt-default .cm-string { color: #CE9178 !important; }
	.cm-s-bt-default .cm-number { color: #B5CEA8 !important; }
	.cm-s-bt-default .cm-variable { color: #9CDCFE !important; }
	.cm-s-bt-default .cm-variable-2 { color: #4FC1FF !important; }
	.cm-s-bt-default .cm-def { color: #DCDCAA !important; }
	.cm-s-bt-default .cm-operator { color: #D4D4D4 !important; }
	.cm-s-bt-default .cm-property { color: #9CDCFE !important; }
	.cm-s-bt-default .cm-builtin { color: #4EC9B0 !important; }
	.cm-s-bt-default .cm-tag { color: #569CD6 !important; }
	.cm-s-bt-default .cm-attribute { color: #9CDCFE !important; }
	.cm-s-bt-default .cm-meta { color: #9CDCFE !important; }

	/* PHP特定语法 */
	.cm-s-bt-default .cm-variable-php { color: #9CDCFE !important; }
	.cm-s-bt-default .cm-string-php { color: #CE9178 !important; }
	.cm-s-bt-default .cm-comment-php { color: #6A9955 !important; font-style: italic !important; }
	.cm-s-bt-default .cm-keyword-php { color: #569CD6 !important; font-weight: bold !important; }

	/* 确保编辑器容器样式 */
	.CodeMirror {
		font-family: 'Consolas', 'Courier New', monospace !important;
		font-size: 13px !important;
		line-height: 1.5 !important;
		background: #1e1e1e !important;
		color: #d4d4d4 !important;
	}
</style>
{/block}
