{extend name='view/common/container'}
{block name="content"}
<div style="margin:0 15px 15px 15px;">
    <el-card shadow="never" style="min-height:650px;" class="table-scroll-area">
        <div class="sticky-buttons">
            <div style="display: flex; justify-content: space-between; border-bottom:1px solid #ebeef5; padding-bottom:15px; font-size:14px;" class="clearfix">
                <span v-text="app_title_name"></span>
                <span style="margin-right: 2px">
				<el-button v-for="(item, i) in topGroupButtons" :key="i"  :disabled="$data[item.disabled]" :type="item.color" size="mini"
                           :icon="item.icon" @click="fn(item.clickname,item.param)">
					<span v-text="item.name"></span>
				</el-button>
			</span>
            </div>
            
            <el-row style="margin-bottom:9px; margin-top:11px;">
                <el-col :span="21">
                    <span v-for="(item, i) in filterGroupButtons" :key="i" style="margin-right: 2px">
                        <el-button :disabled="$data[item.disabled]" :type="item.color" size="mini"
                                   :icon="item.icon" @click="fn(item.clickname,item.param)">
                            <span v-text="item.name"></span>
                        </el-button>
                    </span>
                    
                    <el-select size="small" style="margin-left:5px; width:140px;" class="select" clearable v-model="appid"
                               placeholder="字段同步到应用">
                        <el-option v-for="(item,i) in copy_app_list" :key="i" :label="item.application_name"
                                   :value="item.app_id"></el-option>
                    </el-select>
                    <span v-for="item in filterGroupButtonsQ" :key="item.clickname" style="margin-right: 2px">
                        <el-button :type="item.color" size="mini"
                                   :icon="item.icon" @click="fn(item.clickname,item.param)">
                            <span v-text="item.name"></span>
                        </el-button>
                    </span>
                </el-col>
                <el-col :span="3" style="text-align:right">
                    <table-tool :expand_status="false" @refesh_list="loadlist"></table-tool>
                </el-col>
            </el-row>
        
        </div>
        
        <el-row>
            <el-table row-key="id" :header-cell-style="{ background: '#eef1f6', color: '#606266' }"
                      :row-class-name="rowClass" v-loading="loading" ref="multipleTable" border class="eltable"
                      :data="list" @selection-change="selection" @row-click="handleRowClick" style="width: 100%">
                <el-table-column align="center" type="selection" width="42"></el-table-column>
                <el-table-column property="id" align="center" label="编号" width="65"></el-table-column>
                <el-table-column property="title" label="字段标题">
                    <template slot-scope="scope">
                        <el-input size="mini" placeholder="字段标题" @blur.stop="updateFieldExt(scope.row,'title')"
                                  v-model="scope.row.title"></el-input>
                    </template>
                </el-table-column>

                <el-table-column property="field" label="字段名称">
                    <template slot-scope="scope">
                        <el-input size="mini" placeholder="字段名称" @blur.stop="updateField(scope.row,'field')"
                                  v-model="scope.row.field"></el-input>
                    </template>
                </el-table-column>

                <el-table-column property="type" label="字段类型">
                    <template slot-scope="scope">
                        <el-select v-model="scope.row.type" size="mini" @change="updateFieldExt(scope.row,'type')"
                                   filterable placeholder="请选择">
                            <el-option v-for="(item,i) in field" :key="i" :label="item.name"
                                       :value="item.type"></el-option>
                        </el-select>
                    </template>
                </el-table-column>
                <el-table-column property="list_show" label="显示位置/状态">
                    <template slot-scope="scope">
                        <el-select v-model="scope.row.list_show" @change="updateFieldExt(scope.row,'list_show')"
                                   size="mini" filterable placeholder="请选择">
                            <el-option-group label="显示状态">
                                <el-option key="2" label="不显示" :value="0"></el-option>
                            </el-option-group>
                            <el-option-group label="显示位置">
                                <el-option key="1" label="居中" :value="2"></el-option>
                                <el-option key="2" label="居左" :value="3"></el-option>
                                <el-option key="3" label="居右" :value="4"></el-option>
                                <el-option key="4" label="换行显示" :value="5"></el-option>
                            </el-option-group>
                        </el-select>
                    </template>
                </el-table-column>
                
                <el-table-column property="list_feild" label="列表归属字段">
                    <template slot-scope="scope">
                        <el-input size="mini" placeholder="列表字段"
                                  @blur.stop="updateField(scope.row,'other_config.list_feild')"
                                  v-model="scope.row.other_config.list_feild"></el-input>
                    </template>
                </el-table-column>
                <el-table-column width="75" align="center" property="search_all" label="参加全局搜索">
                    <template slot-scope="scope">
                        <el-switch @change="updateField(scope.row,'other_config.search_all')" :active-value="1"
                                   :inactive-value="0" v-model="scope.row.other_config.search_all"></el-switch>
                    </template>
                </el-table-column>
                <el-table-column align="left" property="search_type" label="搜索状态/模式">
                    <template slot-scope="scope">
                        <el-select v-model="scope.row.search_type" @change="updateFieldExt(scope.row,'search_type')"
                                   size="mini" placeholder="请选择">
                            <el-option-group label="是否搜索">
                                <el-option key="1" label="否" :value="0"></el-option>
                            </el-option-group>
                            <el-option-group label="搜索模式">
                                <el-option key="1" label="=" :value="1"></el-option>
                                <el-option key="2" label="like" :value="2"></el-option>
                                <el-option key="3" label="in" :value="3"></el-option>
                                <el-option key="4" label="between" :value="4"></el-option>
                            </el-option-group>
                        </el-select>
                    </template>
                </el-table-column>
                <el-table-column width="75" align="center" property="create_table_field" label="创建字段">
                    <template slot-scope="scope">
                        <el-tag size="mini" @blur.stop="updateFieldExt(scope.row,'create_table_field')"
                                :type="scope.row.create_table_field=='1'?'primary':'info'" effect="dark">{{
                            scope.row.create_table_field == '1' ? '是' : '否' }}
                        </el-tag>
                    </template>
                </el-table-column>
                <el-table-column width="75" align="center" property="post_status" label="录入状态">
                    <template slot-scope="scope">
                        <el-switch @change="updateFieldExt(scope.row,'post_status')" :active-value="1"
                                   :inactive-value="0" v-model="scope.row.post_status"></el-switch>
                    </template>
                </el-table-column>
                <el-table-column width="100" align="center" property="width" label="单元格宽度">
                    <template slot-scope="scope">
                        <el-input style="width:60px" @blur.stop="updateFieldExt(scope.row,'width')" size="mini"
                                  placeholder="宽度" v-model="scope.row.width"></el-input>
                    </template>
                </el-table-column>
                <el-table-column width="90" align="center" property="sortid" label="排序">
                    <template slot-scope="scope">
                        <el-input style="width:60px;" @blur.stop="updateFieldExt(scope.row,'sortid')" size="mini"
                                  placeholder="排序" v-model="scope.row.sortid"></el-input>
                    </template>
                </el-table-column>
                <el-table-column align="center" property="datatyp" label="数据结构">
                    <template slot-scope="scope">
                        {{scope.row.datatype}}({{scope.row.length}})
                    </template>
                </el-table-column>
                <el-table-column :fixed="false" label="操作" align="center" width="135">
                    <template slot-scope="scope">
                        <el-button size="mini" style="padding:7px 5px" type="primary" icon="el-icon-edit-outline"
                                   @click="editor(scope.row)">修改
                        </el-button>
                        <el-button size="mini" style="padding:7px 5px" type="danger" icon="el-icon-delete"
                                   @click="deleteField(scope.row)">删除
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
            <Page :total="page_data.total" :page.sync="page_data.page" :limit.sync="page_data.limit"
                  @pagination="loadlist"/>
        </el-row>
    </el-card>
</div>

<admin-add :show.sync="dialog.addDialogStatus" menuid="{$menu_id}" :field="field" :item_field="itemList" size="small"
           @refesh_list="loadlist"></admin-add>

<admin-update :show.sync="dialog.updateDialogStatus" menu_id="{$menu_id}" :info="info" :field="field"
              :item_field="itemList" size="small" @refesh_list="loadlist"></admin-update>

{/block}

{block name="script"}
<script src="__PUBLIC__/components/sys/field.js"></script>
<script src="__PUBLIC__/assets/js/Sortable.min.js"></script>
<script src="__PUBLIC__/assets/libs/vuedragable/Sortable.min.js"></script>
<script src="__PUBLIC__/assets/libs/vuedragable/vuedraggable.umd.min.js"></script>
<script src="__PUBLIC__/assets/js/app.js"></script>
<script src="__PUBLIC__/assets/js/common.js" type="module"></script>
<script>
    new Vue({
        el: '#app',
        components: {
            'draggable': window.vuedraggable,
        },
        data() {
            return {
                dialog: {
                    addDialogStatus: false,
                    updateDialogStatus: false,
                },
                app_name: '',
                app_title_name: '',
                menu_title: '',
                ids: {},
                field_titles: [],
                single: true,
                multiple: true,
                list: [],
                field: [],
                itemList: [],
                info: {},
                copy_app_list: [],
                appid: '',
                loading: false,
                page_data: {
                    limit: 100,
                    page: 1,
                    total: 50,
                },
                button_group_q:[{
                    name:'确定同步',
                    color:'primary',
                    access:'',
                    icon:'el-icon-check',
                    disabled:'',
                    clickname:'copyField',
                    param:'',
                    showGroup:'1',
                    showList:''
                }],
                button_group:[{
                    name:'新增',
                    color:'success',
                    access:'',
                    icon:'el-icon-plus',
                    disabled:'',
                    clickname:'add',
                    param:'',
                    showGroup:'1',
                    showList:''
                }, {
                    name:'删除',
                    color:'danger',
                    access:'',
                    icon:'el-icon-delete',
                    disabled:'multiple',
                    clickname:'deleteField',
                    param:'',
                    showGroup:'1',
                    showList:''
                }, {
                    name:'生成代码',
                    color:'info',
                    access:'',
                    icon:'el-icon-edit-outline',
                    disabled:'',
                    clickname:'create',
                    param:'',
                    showGroup:'1',
                    showList:''
                }],
                top_button_group:[{
                    name:'前往方法',
                    color:'primary',
                    access:'',
                    icon:'el-icon-back',
                    disabled:'',
                    clickname:'backupAction',
                    param:'',
                    showGroup:'1',
                    showList:''
                },{
                    name:'返回菜单',
                    color:'primary',
                    access:'',
                    icon:'el-icon-back',
                    disabled:'',
                    clickname:'backup',
                    param:'',
                    showGroup:'1',
                    showList:''
                }],
            };
        },
        computed: {
            filterGroupButtons() {
                return this.button_group;
            },
            filterGroupButtonsQ() {
                return this.button_group_q;
            },
            topGroupButtons() {
                return this.top_button_group;
            },
        },
        methods: {
            add() {
                this.dialog.addDialogStatus = true
            },

            editor(row) {
                let id = row.id ? row.id : this.ids.join(',')
                axios.post(base_url + '/Sys.Base/getFieldInfo', {id: id}).then(res => {
                    this.dialog.updateDialogStatus = true
                    this.info = res.data.data
                })
            },
            selection(selection) {
                this.ids = selection.map(item => item.id)
                this.single = selection.length != 1
                this.multiple = !selection.length
            },
            handleRowClick(row, rowIndex) {
                this.$refs.multipleTable.toggleRowSelection(row);
            },
            rowClass({row, rowIndex}) {
                for (let i = 0; i < this.ids.length; i++) {
                    if (row.id === this.ids[i]) {
                        return 'rowLight'
                    }
                }
            },
            backup() {
                location.href = base_url + '/Sys.Base/menu?appid={$appid}'
            },
            backupAction() {
                location.href = base_url + '/Sys.Base/actionList?menu_id=<?=$menu_id?>&appid=<?=$appid?>'
            },
            deleteField(row) {
                this.$confirm('确定删除字段吗?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    let ids = row.id ? row.id : this.ids
                    axios.post(base_url + '/Sys.Base/deleteField', {id: ids, menu_id: '{$menu_id}'}).then(res => {
                        if (res.data.status == 200) {
                            this.$message({
                                message: res.data.pk_status ? '操作成功,其中主键无法删除' : '操作成功',
                                type: 'success'
                            })
                            this.loadlist()
                        } else {
                            this.$message.error(res.data.msg)
                        }
                    })
                }).catch(() => {
                })
            },
            updateFieldExt(row, field) {
                axios.post(base_url + '/Sys.Base/updateFieldExt', {id: row.id, [field]: row[field]}).then(res => {
                    if (res.data.status == 200) {
                        this.$message({message: '操作成功', type: 'success'})
                    } else {
                        this.$message.error(res.data.msg)
                    }
                })
            },
            updateField(row) {
                axios.post(base_url + '/Sys.Base/updateField', Object.assign(row, {field_type: 1})).then(res => {
                    if (res.data.status == 200) {
                        this.$message({message: '操作成功', type: 'success'})
                    } else {
                        this.$message.error(res.data.msg)
                    }
                })
            },
            create(type) {
                this.$confirm('确定生成吗?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios.post(base_url + '/Sys.Base/create', {menu_id: '{$menu_id}', type}).then(res => {
                        if (res.data.status == 200) {
                            this.$message({message: '操作成功', type: 'success'})
                        } else {
                            this.$message.error(res.data.msg)
                        }
                    })
                }).catch(() => {
                })
            },
            copyField() {
                if (this.ids == '' || this.appid == '') {
                    this.$message.error('请选择字段和应用')
                } else {
                    this.$confirm('确定复制吗?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        axios.post(base_url + '/Sys.Base/copyField', {
                            appid: this.appid,
                            menu_id: '{$menu_id}',
                            field_id: this.ids
                        }).then(res => {
                            if (res.data.status == 200) {
                                this.$message({message: '操作成功', type: 'success'})
                                this.loadlist()
                            } else {
                                this.$message.error(res.data.msg)
                            }
                        })
                    }).catch(() => {
                    })
                }
            },
            loadlist() {
                let param = {
                    limit: this.page_data.limit,
                    page: this.page_data.page,
                    appid: '{$appid}',
                    menu_id: '{$menu_id}'
                }
                this.loading = true
                axios.post(base_url + '/Sys.Base/fieldList', param).then(res => {
                    this.app_name = res.data.app_name
                    this.menu_title = res.data.menu_title
                    this.list = res.data.data.data
                    this.field = res.data.typeField
                    this.itemList = res.data.itemList
                    this.page_data.total = res.data.data.total
                    this.copy_app_list = res.data.app_list.filter(item => item.app_type !== 3)
                    this.loading = false
                    this.app_title_name = this.app_name + '-' + this.menu_title + ' 字段列表 (支持拖动排序)';
                    const list_data = [];
                    
                    if (this.list.length > 0) {
                        this.list.forEach(item => {
                            let list_item = {...item};
                            if (item.other_config &&  item.other_config != '' && item.other_config != null && item.other_config != 'null') {
                                list_item.other_config = JSON.parse(item.other_config)
                            } else {
                                list_item.other_config = {}
                            }
                            list_item.other_config.list_feild = list_item.other_config.list_feild ||'';
                            list_data.push(list_item);
                        })
                    }
                    this.list = list_data;
                })
            },
            rowDrop() {
                const el = this.$refs.multipleTable.$el.querySelectorAll('.el-table__body-wrapper > table > tbody')[0]
                this.sortable = Sortable.create(el, {
                    ghostClass: 'sortable-ghost',
                    setData: function (dataTransfer) {
                        dataTransfer.setData('Text', '')
                    },
                    onEnd: e => {
                        const targetRow = this.list.splice(e.oldIndex, 1)[0]
                        this.list.splice(e.newIndex, 0, targetRow)
                        let currentId = this.list[e.newIndex].id
                        let currentSortId = this.list[e.newIndex].sortid
                        let preId, nextId, preSortId, nextSortId
                        if (this.list[e.newIndex - 1]) {
                            preId = this.list[e.newIndex - 1].id
                            preSortId = this.list[e.newIndex - 1].sortid
                        } else {
                            preId = ""
                            preSortId = ""
                        }
                        if (this.list[e.newIndex + 1]) {
                            nextId = this.list[e.newIndex + 1].id
                            nextSortId = this.list[e.newIndex + 1].sortid
                        } else {
                            nextId = ""
                            nextSortId = ""
                        }
                        axios.post(base_url + '/Sys.Base/updateFieldSort', {
                            currentId: currentId,
                            preId: preId,
                            nextId: nextId,
                            currentSortId: currentSortId,
                            preSortId: preSortId,
                            nextSortId: nextSortId,
                            menu_id: '{$menu_id}'
                        }).then(res => {
                            if (res.data.status == 200) {
                                this.loadlist()
                                this.$message({message: '操作成功', type: 'success'})
                            } else {
                                this.$message.error(res.data.msg)
                            }
                        })
                    }
                })
            },
            fn(method,data){
                if(data){
                    this[method](data)
                }else{
                    this[method](this.ids)
                }
            },
        },
        mounted() {
            this.loadlist()
            this.rowDrop()
            
            // JS 回退：在极端布局/祖先 transform 情况下，sticky 可能失效，使用轻量回退将按钮设置为 fixed
            this.$nextTick(() => {
                const scroller = this.$el.querySelector('.table-scroll-area');
                const sticky = this.$refs.stickyButtons;
                if (!scroller || !sticky) return;
                
                // 保存原始样式，以便恢复
                const original = {
                    position: sticky.style.position || '',
                    top: sticky.style.top || '',
                    left: sticky.style.left || '',
                    width: sticky.style.width || '',
                    zIndex: sticky.style.zIndex || ''
                };
                
                const handleScroll = () => {
                    // 当 scroller 的 scrollTop 超过某个阈值时，认为需要“粘住”
                    // 阈值这里取 1，表示一旦发生滚动就粘住；若你想更精确可改成 sticky.offsetTop
                    if (scroller.scrollTop > 0) {
                        // 如果浏览器支持 sticky 并且实际已经生效，保持 CSS sticky（仅加 class）
                        const computedPosition = window.getComputedStyle(sticky).position;
                        if (computedPosition === 'sticky' || computedPosition === '-webkit-sticky') {
                            sticky.classList.add('stuck');
                            // 不修改 position 样式，交由 CSS sticky 处理
                        } else {
                            // 回退：把按钮设置为 fixed，并与 scroller 对齐
                            const rect = scroller.getBoundingClientRect();
                            sticky.style.position = 'fixed';
                            sticky.style.top = (50) + 'px'; // 固定到视口 50px
                            sticky.style.left = rect.left + 'px';
                            sticky.style.width = rect.width + 'px';
                            sticky.style.zIndex = 9999;
                            sticky.classList.add('js-fixed');
                        }
                    } else {
                        // 恢复原始样式
                        sticky.classList.remove('stuck');
                        sticky.classList.remove('js-fixed');
                        sticky.style.position = original.position;
                        sticky.style.top = original.top;
                        sticky.style.left = original.left;
                        sticky.style.width = original.width;
                        sticky.style.zIndex = original.zIndex;
                    }
                };
                
                // 绑定滚动事件
                scroller.addEventListener('scroll', handleScroll, {passive: true});
                // 初始化一次
                handleScroll();
                
                // 存到元素，方便 beforeDestroy 时移除
                scroller._stickyHandler = handleScroll;
            });
            
        },
    })
</script>




<style>
    /* 固定表头按钮 */
    .table-scroll-area {
        max-height: calc(100vh - 155px); /* 根据实际页面头部/菜单高度调整这个数值 */
        overflow-y: auto;
        position: relative; /* sticky 的参照容器 */
    }
    
    .sticky-buttons {
        position: -webkit-sticky;
        position: sticky;
        top: 0px;            /* 固定在页面顶部下方 50px */
        z-index: 200;         /* 确保在表格上方，不被遮挡 */
        background: #fff;     /* 避免透明看见后面的内容 */
        padding: 0 0px 10px 0;
    }
    /* 固定表头按钮 */
</style>
{/block}
